body{
    font-family: 'Sahitya', cursive, sans-serif, bold;
    color: #fff;
    background-color: #4a1b1b; 
    background-size: cover;
}

div{
    font-family:'Sahitya', cursive, sans-serif, bold;
    font-size:110%;
    text-align:center;
}
#hasta{
    font-family:'Sahitya', cursive, sans-serif, bold;
    font-size:75%;
    text-align:center;
	font-stretch: extra-expanded;
}
.textbox{
	width:125px;
	text-align:center;
}
#date{
    font-family:'Sahitya', cursive, sans-serif, bold;
    font-size:110%;
    margin-left:20px;
}
#input{
    font-family:'Sahitya', cursive, sans-serif, bold;
    font-size:75%;
    text-align:center;
}
input[type=button]{
	font-family:'Sahitya', cursive, sans-serif, bold;
    border: none;
    width:80px;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 15px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover{
    color: white;
    background-color: black;
}
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-plus-circle:before {
  content: "\f055";
    color: white;
    font-size:17px;
}
.fa-check-circle:before {
    content: "\f058"
}
.fa-trash-o:after {
  content: "\f014";
}
.fa-circle:before {
    content: "\f111";
}
